.header{
    background-color: var(--dark-blue);
    padding: 10px 0;
}

.nav__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}

.nav__brand{
    padding: 0;
    padding-right: 20px;
    margin: 0;
    border-right: 2px solid var(--border-color-white);
    font-weight: 600;
    color: var(--blue-light);
    pointer-events: none;
}

.nav__link{
    display: inline-block;
    padding: 0;
    font-size: 1rem;
    color: var(--text-color-white);
    transition: 0.2s all ease-in-out;
}

.nav__link_active{
    color: var(--link-color) !important;
}

.nav__link:hover{
    color: var(--link-color);
}

.search{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10000px;
    transition: 0.3s all ease-in-out;
}

.search:focus-within{
    box-shadow: 0 0 0 0.1rem var(--input-focus);
}

.search:focus-within > .search__btn{
    border-color: var(--dark-blue);
}

.search:focus-within > 
.search__btn:hover,
.search__btn:focus,
.search__btn:active {
    border-color: var(--dark-blue) !important;
    color: var(--blue) !important;
}

.search__input{
    outline: none;
    background-color: var(--dark-blue);
    border-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 16px 2px 16px;
    border: 2px solid var(--blue-light);
    border-right: none;
    border-radius: 10000px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--text-color-white) !important;
    font-size: 1rem;
    vertical-align: middle;
    transition: 0.5s all ease-in-out;
}

.search__input:focus {
    width: 340px;
    box-shadow: none;
    background-color: var(--dark-blue);
    border-color: transparent;
}

.search__btn{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    border: 2px solid var(--blue-light);
    border-left: none;
    border-radius: 10000px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--text-color-white);
    font-size: 1rem;
    font-weight: 600;
    padding: 0 12px 2px 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.search__btn:hover,
.search__btn:focus,
.search__btn:active{
    border-color: var(--blue-light) !important;
    background-color: var(--dark-blue) !important;
    color: var(--link-color) !important;
}

.dropdownList{
    padding: 0;
    border: 2px solid var(--blue-light);
    overflow: hidden;
}

.dropdownList__item{
    padding: 10px 14px;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

.dropdownList__item:focus,
.dropdownList__item:active {
    background-color: transparent;
}

.dropdownList__item:hover{
    background-color: var(--focus-color);
    color: var(--blue);
}

.dropdownList__divider{
    margin: 0;
    border: 1px solid var(--blue-light);
}

.user{
    width: 160px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.user__avatar{
    background-color: var(--dark-gray);
    width: 38px;
    height: 38px;
    font-size: 0.75rem;
    color: var(--white);
}

.user__btn{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: none;
    color: var(--dark-gray);
}

.user__btn:focus,
.user__btn:active,
.user__btn:hover
{
    background-color: transparent !important;
    color: var(--blue) !important;
}