.footer{
    /* background-color: var(--bg-color); */
    background-color: var(--dark-blue);
}

.footer__content{
    background-color: transparent;
    border-top: none !important;
}

.footer__group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color-white);
}

.footer__link{
    position: relative;
    display: inline-block;
    color: var(--link-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.footer__link:hover,
.footer__link:focus {
    color: var(--link-color);
}

.footer__link:before {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--link-color-blue);
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    transition: 0.3s all ease-in-out;
}

.footer__link:hover::before,
.footer__link:focus::before {
    width: 100%;
}