.header{
    background-color: var(--bg-color);
}

.nav__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}

.nav__brand{
    padding: 0;
    margin: 0;
}

.nav__link{
    display: inline-block;
    padding: 0;
    font-size: 1rem;
}

.search{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}

.search__input{
    outline: none;
    height: 100%;
    background-color: transparent;
    width: 100%;
    padding: 0 12px;
    border: 2px solid var(--dark-gray);
    border-radius: 12px;
    font-size: 1rem;
    vertical-align: middle;
    transition: 0.3s all ease-in-out;
}

.search__input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem var(--input-focus);
}

.search__btn{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid var(--dark-gray);
    border-radius: 12px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.search__btn:hover{
    border-color: var(--dark-gray);
    background-color: var(--dark-gray);
    color: var(--white);
}

.user{
    width: 160px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.user__avatar{
    background-color: var(--dark-gray);
    width: 44px;
    height: 44px;
    font-size: 1rem;
    color: var(--white);
}

.user__list{
    padding: 0;
    overflow: hidden;
}

.user__item{
    padding: 10px 14px;
    cursor: pointer;
}

.user__item:focus, .user__item:active{
    background-color: transparent;
    color: var(--dark-gray);
}

.user__divider{
    margin: 0;
}

.user__btn{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: none;
    color: var(--dark-gray);
}

.user__btn:focus{
    background-color: transparent;
    color: var(--dark-gray);
}

.user__btn:active {
    background-color: transparent;
    color: var(--dark-gray);
}

.user__btn:hover{
    background-color: transparent;
    color: var(--dark-gray);
}