@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --dark-gray: #3E3E3E;
  --red: #AA2020;
  --white: #F7F7F7;
  --green-light: #52C73F;
  --yelow: #C7C13F;
  --blue: #3399FF;
  --light-gray: #979797;
  --marble: #ECE9F2;

  --focus-color: var(--marble);
  --text-color: var(--dark-gray);
  --link-color: var(--blue);
  --input-focus: var(--blue);

  --bg-color: var(--white);
  --bg-gradient: linear-gradient(to right, #414345, #232526);

  --max-width: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  display: inline-block;
  cursor: pointer;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-gradient);

  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  scroll-behavior: smooth;

  font-family: 'Montserrat', sans-serif;
  color: #232B2B;
}

fieldset{
  border: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container{
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
}

.main{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}