.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", serif;
    font-size: 1rem;
    font-weight: 400;
}

.nav{
    position: relative;
    width: 1400px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 174.3px 0;
    border-radius: 24px;
    margin: auto 0;
    row-gap: 20px;
}

.nav__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 400px;
    height: 60px;
    border: 2px solid var(--dark-gray);
    border-radius: 10px;

    color: var(--dark-gray);
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;

    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.nav__link:hover,
.nav__link:focus{
    background-color: var(--dark-gray);
    color: var(--white);
}

.nav__picture {
    max-width: 200px;
    margin-bottom: 80px;
}

.nav__logo {
    display: block;
    width: 100%;
}

.nav__divider{
    font-size: 1.125rem;
}