.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authForm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    padding: 128.5px 0;
    margin: auto 0;
    background-color: #FBFBFB;
    border-radius: 24px;
}

.authForm__fieldset {
    position: relative;
    border: none;
    width: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authForm__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.authForm__field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-top: 10px;
    row-gap: 12px;
}

.authForm__label{
    font-size: 1rem;
    font-weight: 600;
}

.authForm__input{
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
    padding: 18px 20px;
    border: 2px solid var(--dark-gray);
    border-radius: 10px;
    font-size: 1.25rem;
    transition: 0.3s all ease-in-out;
}

.authForm__input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem var(--input-focus);
}

.authForm__input_error{
    border-color: var(--red);
}

.authForm__error{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--red);
    font-size: 1rem;
    font-weight: 600;
}

.authForm__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: 2px solid var(--dark-gray);
    border-radius: 10px;
    margin-top: 50px;
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.authForm__btn:hover,
.authForm__btn:focus {
    background-color: var(--dark-gray);
    color: var(--white);
}

.authForm__picture{
    max-width: 200px;
    max-height: 230px;
    margin-bottom: 80px;
}

.authForm__logo{
    display: block;
    width: 100%;
    height: 100%;
}

.authForm__errorField{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 270px;
    /* left: 0; */
}

.authForm__errorMessage{
    color: var(--red);
    font-size: 1rem;
    font-weight: 600;
}

.authForm__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

.authForm__linkText{
    color: var(--text-color);
    font-weight: 400;
}

.authForm__link{
    position: relative;
    color: var(--link-color-blue);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.authForm__link:hover,
.authForm__link:focus {
    color: var(--link-hover);
}

.authForm__link:before {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--link-hover);
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    transition: 0.3s all ease-in-out;
}

.authForm__link:hover::before,
.authForm__link:focus::before {
    width: 100%;
}