.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", serif;
    font-size: 1rem;
    font-weight: 400;
}

.regForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1400px;
    padding: 80px 0;
    margin: auto 0;
    background-color: #FBFBFB;
    border-radius: 24px;
}

.regForm__fieldset {
    border: none;
    width: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regForm__title {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.regForm__field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-top: 10px;
    row-gap: 12px;
}

.regForm__label {
    font-size: 1rem;
    font-weight: 600;
}

.regForm__input {
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
    padding: 18px 20px;
    border: 3px solid var(--dark-gray);
    border-radius: 10px;
    outline: 4px solid transparent;
    font-size: 1.25rem;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}

.regForm__input:focus {
    border-color: transparent;
    outline-color: var(--focus-color);
}

.regForm__input_error {
    border-color: var(--red);
}

.regForm__error {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--red);
    font-size: 0.875rem;
    font-weight: 600;
}

.regForm__error_pass{
    width: 400px;
    top: 30px;
    left: 420px;
}

.regForm__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: 3px solid var(--dark-gray);
    border-radius: 10px;
    outline: 4px solid transparent;
    margin-top: 50px;

    color: var(--dark-gray);
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;

    transition: 0.3s all ease-in-out;
}

.regForm__btn:hover{
    background-color: var(--dark-gray);
    color: var(--white);
}

.regForm__btn:focus{
    background-color: var(--dark-gray);
    color: var(--white);
    outline-color: var(--focus-color);
}

.regForm__logo {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-bottom: 80px;
}

.regForm__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

.regForm__linkText {
    color: var(--text-color);
    font-weight: 400;
}

.regForm__link {
    position: relative;
    color: var(--link-color-blue);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.regForm__link:hover,
.regForm__link:focus {
    color: var(--link-hover);
}

.regForm__link:before {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--link-hover);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transition: 0.3s all ease-in-out;
}

.regForm__link:hover::before,
.regForm__link:focus::before {
    width: 100%;
}