.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.main__content{
    width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: 100%;
    padding: 26px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: var(--text-color-white);
    font-weight: 400;
    font-size: 1.5rem;
}

.nav__questionCounter{
    margin-right: 55px;
    margin-bottom: 0;
}

.timer{
    margin-bottom: 0;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    margin-right: auto;
}

.nav__link{
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 4px solid var(--white);
    border-radius: 50%;
    outline: 4px solid transparent;
    transition: 0.3s all ease-in-out;
}

.nav__link:hover{
    background-color: var(--green-light);
    border-color: var(--green-light);
}

.nav__link:focus{
    outline-color: var(--focus-color);
}

.nav__link_active{
    border-color: var(--green-light);
}

.form{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 20px;
}

.form__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form__title,
.answer__text{
    display: inline-block;
    width: 100%;
    padding: 18px 20px;
    border: 3px solid var(--border-color-dark-gray);
    border-radius: 10px;
    margin-bottom: 60px;
    font-size: 1.25rem;
    font-weight: 500;
}

.answer__text{
    margin-bottom: 0;
    outline: 4px solid transparent;
    transition: 0.3s all ease-in-out;
}

.form__answers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

.answer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 50px;

    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.answer__input{
    position: absolute;
    width: 1px;
    height: 1px;
    appearance: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.answer__checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid var(--border-color-dark-gray);
    border-radius: 5px;
    outline: 4px solid transparent;
    left: 0;

    transition: 0.3s all ease-in-out;
}

.answer__checkbox::before{
    position: absolute;
    content: '';
    width: 5.5px;
    height: 2px;
    background-color: var(transparent);
    top: 6.5px;
    left: 1.5px;
    transform: rotate(45deg);
}

.answer__checkbox::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: transparent;
    top: 6px;
    left: calc(50% - 2.5px);
    transform: rotate(135deg);
}

.answer__input:checked + .answer__checkbox{
    background-color: var(--green-light);
    border-color: var(--green-light);
}

.answer__input:checked + .answer__checkbox::before {
    background-color: var(--text-color-white);
}

.answer__input:checked+.answer__checkbox::after {
    background-color: var(--text-color-white);
}

.answer__input:checked + .answer__checkbox + .answer__text{
    border-color: var(--green-light);
}

.answer__input:focus + .answer__checkbox {
    border-color: transparent;
    outline-color: var(--blue);
}

.answer__input:focus + .answer__checkbox + .answer__text {
    border-color: transparent;
    outline-color: var(--blue);
}

.answer__input:checked:focus + .answer__checkbox {
    border-color: var(--green-light);
}

.answer__input:checked:focus + .answer__checkbox + .answer__text {
    color: var(--green-light);
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 26px 40px;
    margin-top: auto;
}

.footer__answerBtn{
    margin-right: 80px;
}

.footer__answerBtn,
.footer__finishBtn{
    background-color: transparent;
    padding: 8px 24px;
    border: 3px solid var(--border-color-white);
    border-radius: 8px;
    outline: 4px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-white);
    transition: 0.3s all ease-in-out;
}

.footer__answerBtn:hover,
.footer__finishBtn:hover{
    background-color: var(--green-light);
}

.footer__answerBtn:focus,
.footer__finishBtn:focus{
    background-color: var(--green-light);
    border-color: var(--green-light);
    outline-color: var(--focus-color);
}

.footer__group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    margin-right: auto;
}

.footer__prevBtn,
.footer__nextBtn{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--border-color-white);
    border-radius: 50%;
    outline: 4px solid transparent;
    transition: 0.3s all ease-in-out;
}

.footer__prevBtn::before,
.footer__nextBtn::before,
.footer__prevBtn::after,
.footer__nextBtn::after{
    position: absolute;
    content: "";
    background-color: var(--border-color-white);
    height: 2px;
    width: 13px;
    border-radius: 2px;
}

.footer__prevBtn::before{
    top: calc(50% - 4px);
    left: calc(50% - 8px);
    transform: rotate(135deg);
}

.footer__prevBtn::after {
    top: calc(50% + 4px);
    left: calc(50% - 8px);
    transform: rotate(45deg);
}

.footer__nextBtn::before {
    top: calc(50% - 4px);
    right: calc(50% - 8px);
    transform: rotate(45deg);
}

.footer__nextBtn::after {
    top: calc(50% + 4px);
    right: calc(50% - 8px);
    transform: rotate(135deg);
}

.footer__prevBtn:hover,
.footer__nextBtn:hover{
    background-color: var(--green-light);
}

.footer__prevBtn:focus,
.footer__nextBtn:focus{
    background-color: var(--green-light);
    border-color: var(--green-light);
    outline-color: var(--focus-color);
}